header{
  font-family: 'https://fonts.googleapis.com/css?family=Indie+Flower', cursive;
  text-align: center;
  background-color: #228B22;
  height: 100px;
  padding: 40px;
  color: #006400;
}

body{
  background-color: #277714;
  margin: 0px;
}

.container, .container2{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-left: 20px;
  padding-top: 20px;
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8{
  flex-basis: auto;
  height: 300px;
  width: 150px;
  background-image: url(./assets/cardBack.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

