header{
  font-family: 'https://fonts.googleapis.com/css?family=Indie+Flower', cursive;
  text-align: center;
  background-color: #228B22;
  height: 100px;
  padding: 40px;
  color: #006400;
}

body{
  background-color: #277714;
  margin: 0px;
}

.container, .container2{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-left: 20px;
  padding-top: 20px;
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8{
  flex: 2, 2, 150px;
  flex-grow: 2;
  flex-shrink: 2;
}

#card1{
  background-image: url(./assets/cardBack.jpg);
  animation-name: flip;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#card2{
  background-image: url(./assets/cardBack.jpg);
  animation-name:;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#card3{
  background-image: url(./assets/cardBack.jpg);
  animation-name:;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#card4{
  background-image: url(./assets/cardBack.jpg);
  animation-name:;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#card5{
  background-image: url(./assets/cardBack.jpg);
  animation-name:;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#card6{
  background-image: url(./assets/cardBack.jpg);
  animation-name:;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#card7{
  background-image: url(./assets/cardBack.jpg);
  animation-name:;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#card8{
  background-image: url(./assets/cardBack.jpg);
  animation-name:;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes flip{
  0%{transform: rotateY(0deg);}
  100%{transform: rotateY(180deg);}
}
